# Data Science Ecosystem

## Introduction
This notebook provides an overview of the data science ecosystem, including languages, libraries, tools, and examples of basic arithmetic operations in Python.

## Data Science Languages
- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Scikit-learn
- TensorFlow
- Keras
- ggplot2

## Data Science Tools

| Tool          | Description                             |
| ------------- | --------------------------------------- |
| Jupyter       | Interactive computing environment       |
| RStudio       | Integrated development environment (IDE) for R |
| Apache Spark  | Unified analytics engine for big data processing |
| Tableau       | Data visualization tool                 |
| KNIME         | Open-source data analytics platform     |

## Arithmetic Expression Examples
Below are examples of arithmetic expressions in Python.

In [1]:
# Multiplying and adding numbers
a = 5
b = 3
multiplication_result = a * b
addition_result = a + b
multiplication_result, addition_result

(15, 8)

In [1]:
# Convert minutes to hours
minutes = 120
hours = minutes / 60
hours

2.0

## Objectives
- Learn and list data science languages.
- Learn and list data science libraries.
- Create a table of data science tools.
- Perform arithmetic operations in Python.
- Convert time units in Python.
- Share the notebook via GitHub.

## Author
[Mohammad Hadi Eskandari Nasab]